# clang-tidy src/main.cpp -p . --extra-arg=-std=c++23
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  cert-*,
  portability-*,
  -bugprone-exception-escape,
  -readability-static-accessed-through-instance,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -performance-enum-size,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes,
  -cert-err33-c,
  -bugprone-narrowing-conversions,
  -modernize-loop-convert,
  -modernize-use-auto,
  -performance-move-const-arg,
  -modernize-pass-by-value,
  -bugprone-macro-parentheses,
  -readability-convert-member-functions-to-static,
  -misc-include-cleaner,
  -modernize-use-ranges,
  -misc-use-internal-linkage,
  -modernize-use-integer-sign-comparison,
WarningsAsErrors: '*'
