version: 2.1
# circleci local execute --config ./.circleci/config.yml test
jobs:
  test:
    docker:
      - image: gcc:14
    steps:
      - checkout
      - run:
          name: Build server
          command: |
            make -j$(nproc)
      - run:
          name: Run server
          command: |
            ./target/codeymccodeface
          background: true
      - run:
          name: Test server
          command: |
            sleep 0.01 # wait for server
            curl -kv https://localhost:8443
            curl http://localhost:8080
            curl -kv --tlsv1.3 --http2 https://localhost:8443
            curl -kv --http2-prior-knowledge https://localhost:8443/final.html
            curl -kv --http1.1 https://localhost:8443/
            curl -kv --tlsv1.2 --tls-max 1.2 -H "Range: bytes=0-50, 60-299" https://localhost:8443
      - run:
          name: Test session tickets
          command: |
            echo -e "GET / HTTP/1.1\r\nHost: localhost\r\n\r\n" > request.txt
            cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -ign_eof -sess_out session.pem
            cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -sess_in session.pem 2>&1 | grep -q "Reused, TLSv1.3"

            # cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -sess_out session.pem
            # openssl s_client -connect localhost:8443 -tls1_3 -early_data request.txt -sess_in session.pem 2>&1 

  docker-build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build server binary
          command: |
            docker build --progress=plain -t containerymccontainerface -f Dockerfile.armv6 .
            c_id=$(docker create containerymccontainerface)
            mkdir -p target
            docker cp $c_id:/target/codeymccodeface target/codeymccodeface.armv6
            sudo docker rm -f "$c_id" >/dev/null
            test -x target/codeymccodeface.armv6
      - persist_to_workspace:
          root: .
          paths:
            - target/codeymccodeface.armv6

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - attach_workspace:
          at: .
      - add_ssh_keys
      - run:
          name: Install rsync
          command: |
            sudo apt-get update
            sudo apt-get install -y rsync
      - run:
          name: Copy binary to Raspberry Pi
          command: |
            scp -o StrictHostKeyChecking=no target/codeymccodeface.armv6 freddiewoodruff@freddiewoodruff.co.uk:~/doc/deploy/
            rsync -avz --delete resources/MIME/ freddiewoodruff@freddiewoodruff.co.uk:~/doc/deploy/resources/MIME/
            rsync -avz --delete resources/tld.txt freddiewoodruff@freddiewoodruff.co.uk:~/doc/deploy/resources/
            scp -o StrictHostKeyChecking=no live_config.txt freddiewoodruff@freddiewoodruff.co.uk:~/doc/deploy/config.txt
      - run:
          name: Restart server
          command: |
            ssh -o StrictHostKeyChecking=no freddiewoodruff@freddiewoodruff.co.uk '
              cd ~/doc/deploy;
              [ -f codey.pid ] && sudo kill $(cat codey.pid) || true;
              rm -f codey.pid;
              mv codeymccodeface.armv6 codeymccodeface
              sudo sh -c "nohup ./codeymccodeface --config config.txt >codey.log 2>&1 < /dev/null & echo \$! > codey.pid"
            '

workflows:
  build_and_deploy:
    jobs:
      - test
      - docker-build
      - deploy:
          requires:
            - test
            - docker-build
          filters:
            branches:
              only:
                - main
