version: 2.1
# circleci local execute --config ./.circleci/config.yml test
jobs:
  test:
    docker:
      - image: gcc:14
    steps:
      - checkout
      - run:
          name: Build server
          command: |
            make -j$(nproc)
      - run:
          name: Run server
          command: |
            ./target/codeymccodeface
          background: true
      - run:
          name: Test server
          command: |
            sleep 0.01 # wait for server
            curl -kv https://localhost:8443
            curl http://localhost:8080
            curl -kv --tlsv1.3 --http2 https://localhost:8443
            curl -kv --http2-prior-knowledge https://localhost:8443/final.html
            curl -kv --http1.1 https://localhost:8443/
            curl -kv --tlsv1.2 --tls-max 1.2 -H "Range: bytes=0-50, 60-299" https://localhost:8443
      - run:
          name: Test session tickets
          command: |
            echo -e "GET / HTTP/1.1\r\nHost: localhost\r\n\r\n" > request.txt
            cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -ign_eof -sess_out session.pem
            cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -sess_in session.pem 2>&1 | grep -q "Reused, TLSv1.3"

            # cat request.txt | openssl s_client -connect localhost:8443 -tls1_3 -sess_out session.pem
            # openssl s_client -connect localhost:8443 -tls1_3 -early_data request.txt -sess_in session.pem 2>&1 

  docker-test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build server
          command: |
            sudo docker build --progress=plain -t server .
      - run:
          name: Build armv6
          command: |
            sudo docker build -f Dockerfile.armv6 --progress=plain -t server-armv6 .
            docker build --progress=plain -t containerymccontainerface -f Dockerfile.armv6 .
            c_id=$(docker create containerymccontainerface)
            docker cp $c_id:/target/codeymccodeface ./target/codeymccodeface.armv6
            if [ "$CIRCLE_BRANCH" = "main" ]; then
              scp target/codeymccodeface.armv6 freddiewoodruff@rpi:~/doc/deploy/codeymccodeface
              # todo: package resources and deploy binary
            else
              echo "Skipping deploy on branch $CIRCLE_BRANCH"
            fi

workflows:
  run_tests:
    jobs:
      - test
      - docker-test